*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

$bp:(
    mobile:480px,
    tablet: 780px,
);

body{
    height: 100vh;
    .container{
        width: 85%;
        //background-color: aquamarine;
        margin: 0 auto;
    }

    //header
    .header{
        padding: 1.5rem 0;
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .container__logo img{
                width: 3rem;
            }

            .containernav__navlist{
                list-style: none;
                display: flex;
                gap: 1.3rem;
            }

            .containernav__navlist li{
                cursor: pointer;
                font-size: .9rem;
                font-weight: 700;
            }

            .btnconnect{
                padding: .7rem 1rem;
                border: none;
                background: linear-gradient(90deg, #03987A, #7FD4BE );
                // font-size: 1em;
                font-size: .9rem;
                border-radius: .5rem;
                color: #fff;
                transition: all 0.5s ease;
            }
            .btnconnect:hover{
                background: #03987A;
                cursor: pointer;
            }
        }
    }

    .hero{
        padding: 1.5rem 0;
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 3rem;
            //background-color: #03987A;


            .authorimg{
                width: 100%;
                border-radius: 1rem;
                object-fit: contain;
                object-position: top center;
            }

            .container__aboutauthor{
                font-size: 2.5rem ;
                .authorname{
                    font-weight: 700;
                    color: #03987A;
                }
                text-align: center;
            }
        }
    }

    .footer{
        padding-top: 1.5rem;
        .container{
            display: flex;
            //align-items: center;
            justify-content: center;
            gap: 1rem;
            img{
                width: 2rem;
                transition: all 0.5s ease;
            }
            img:hover{
                scale: (1.5);
            }
        }
    }
}


// @mixin query ($screen){
//     @each $key, $value in $bp{
//         @if($screen == $value){
//             @media (max-width:$screen){
//                 @content;
//             }
//         }
//     }
// }


// @include query(mobile){
//     header
//     body .header{
//         padding: 1.5rem 0;
//         .container{
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: space-between;
//             .container__logo img{
//                 width: 3rem;
//             }

//             .containernav__navlist{
//                 display: none;
//             }

//             .containernav__navlist li{
//                 display: none;
//             }

//             .btnconnect{
//                 padding: .7rem 1rem;
//                 border: none;
//                 background: linear-gradient(90deg, #03987A, #7FD4BE );
//                 // font-size: 1em;
//                 font-size: .9rem;
//                 border-radius: .5rem;
//                 color: #fff;
//                 transition: all 0.5s ease;
//             }
//             .btnconnect:hover{
//                 background: #03987A;
//                 cursor: pointer;
//             }
//         }
//     }
// }

@media (max-width: 480px){

    //header
    body .header{
        .container{
            .containernav__navlist{
                display: none;
            }

            // .containernav__navlist li{
            //     display: none;
            // }

            
        }
    }

    body .hero{
        //padding: 0;
        padding-bottom: 0;
        .container{
            grid-template-columns: 1fr;
           
            .container__aboutauthor{
                font-size: 1.5rem ;
            }
        }

    }
   
}

@media (max-width: 780px){

    body .hero{
        .container{
            padding: 2rem 0;
        }
    }
    body .hero{
        .container{
            .container__aboutauthor{
                font-size: 1.45rem;
            }
        }
    }
   
}
