body{
    background: #171D29;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // .logo{
    //     width: 15%;
    //     margin-bottom: 15px;
    // }

    .title{
        font-size: 1.4rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #567FD1;
        span{
            //color: black;
        }
    }
    
    .container{
        background: #1B212D;
        height: 600px;
        width: 400px;
        border-radius: 15px;
        //border: 1px solid rgba(202, 200, 200, 0.5);
        box-shadow: 1px 1px 10px rgba(131, 129, 129, 0.2);

        h2{
            color: #567FD1;
            font-size: 1rem;
            text-align: center;
            padding-top: 35px;
            margin-bottom: 40px;
            //background-color: #567FD1;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        .forms{
            margin-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 35px;

            input{
                width: 80%;
                height: 45px;
                //border: 1.5px solid rgba(131, 129, 129, 0.2);
                border-radius: 15px;
                border: none;
                padding-left: 15px;
                font-size: 1.2rem;
                color: rgb(190, 190, 190);
                box-shadow: 1px 1px 10px rgba(131, 129, 129, 0.2);
                text-align: center;
                background: #1B212D;
            }
            .btnprocess{
                margin-top: 15px;
                border: none;
                padding: 12px 50px;
                font-size: 1.2rem;
                border-radius: 15px;
                cursor: pointer;
                a{
                    text-decoration: none;
                    //accent-color:;
                    //link-style: none;
                    color: white;
                }
                background-color: #0db69a;
                color: white;
            }
        }
    }


    .containers{

        background: #1B212D;
        box-shadow: 1px 1px 15px rgba(87, 131, 219, .1);
        border:none;// 1px solid #567FD1;
        border-radius: 15px;
        height: 700px;
        width: 388px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        padding: 5px;
        //gap: 5px;
        // .title{
        //     margin: 0;
        //     padding: 0;
        //     position:relative;
        //     bottom: 0px;
        //     // top: -105px;
        //     right: 130px;
        //     font-size: 1rem;
        //     //background-color: black;
        // }

        .verifylogo{
            width: 40px;
            height: 40px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        #coinreceived{
            font-size: 0.8rem;
            color:#567FD1;
            span{
                color: #0db69a;
                font-size: 1.6rem;
            }
        }

        
        .statusdiv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(108, 206, 190, 0.1);

            #tstatus{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #status{
                float: right;

                color: #0db69a;
                font-weight: 500;
                //font-size: 1.0rem;
            }

            margin-bottom: 35px;
        }

        .feediv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(108, 206, 190, 0.1);

            #tfee{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #fees{
                float: right;
                color: #929292;
                font-weight: 500;
                font-size: 1.1rem;
            }

            margin-bottom: 30px;
        }

        .amountdiv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(108, 206, 190, 0.1);

            #tamount{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #amounts{
                float: right;
                color: #929292;
                font-weight: 500;
                font-size: 1.1rem;
            }

            margin-bottom: 35px;
        }

        .slippagefeediv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(50, 190, 166, 0.1);

            #tslippage{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #slippages{
                float: right;
                color: #929292;
                font-weight: 500;
                font-size: 1.1rem;
            }

            margin-bottom: 35px;
        }

        .usdreceiveddiv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(50, 190, 166, 0.1);

            #tusdreceived{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #usdreceiveds{
                float: right;
                color: #929292;
                font-weight: 500;
                font-size: 1.1rem;
            }

            margin-bottom: 35px;
        }

        .transdatediv{
            font-size: 1.1rem;
            // background-color: #0db69a;
            width: 95%;
            display: block;
            clear: both;
            padding: 10px 10px;
            //box-shadow: 0px 7px 15px rgba(50, 190, 166, 0.1);

            #ttransdate{
                float: left;
                font-weight: 500;
                font-size: 1.05rem;
            }

            #dates{
                float: right;
                //color: #0db69a;
                color: #929292;
                font-weight: 500;
                font-size: 1rem;
            }

            //margin-bottom: 30px;
        }

        .cust{
            box-shadow: 0px 2px 1px rgba(114, 114, 114, 0.1);
            //border-bottom: 1px solid rgba(165, 182, 179, 0.3);
            border-radius: 10px;
            //height: 70px;
            padding: 13px 10px;
            background: #171D29;

            #tstatus, #tfee, #tamount, #tslippage, #tusdreceived, #ttransdate{
                color:#474D5B;
                font-size: 1.2rem;
            }

            #fees, #amounts, #slippages, #usdreceiveds, #date{
                color:#868C98;
                font-size: 1.2rem;
            }
        }

        .viewby{
            color: rgb(12, 115, 199);
            font-weight: 550;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.95rem;
            margin-top: 40px;
        }

        .author{
            margin-top: 10px;
            font-size: .82rem;
            color: rgb(12, 115, 199);
            span{
                color:#929292;
            }
        }

    }
}