*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.125rem;
    font-family:'Rotobo', sans-serif;
    //background: #1B212D;
    background: url('./13182208_5166950.jpg');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}



// typography
.title{
    font-size: 1.6rem;
    color: #fff;
}

.boxes{
    font-size: 1rem;
    // color
    color: #fff;
    text-align: center;
}

.boxes::placeholder{
    color: #fff;
}

.btnprocess{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}


//padding control and other
.boxes{
    font-size: 1.2rem;
    padding: .6em .6em;
    border: none;
    // border: .15em dashed #9F529A;
    border-radius: 1em;
    background: linear-gradient(
        45deg,
        #e639da4d,
        transparent
    );
    color: #fff;
    backdrop-filter: blur(.05em);
    outline-color:transparent ;
}

.btnprocess{
    padding: .8em 1em;
    border-radius: 1em;
    border: none;
    background: #32BEA6;
    color: #fff;
    margin-top: 2em;
}




//query for small screen 
@media (max-width:600px){
    .container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    }

    .title{
        text-align: center;
        margin-bottom: 2em;
    }

    .entry{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
    }

    .boxes{
        width: 65%;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .btnprocess{
        width: 40%;
        // left: 50%;
        transform: translate(70%);
    }
}
@media (min-width:601px){
    .container{
        //background-color: #32BEA6;
        width: 100%;
        max-width: 50rem;
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title{
        text-align: center;
        margin-bottom: 2em;
    }

    .entry{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        // margin-bottom: 1.5em;
    }

    .boxes{
        width: 90%;
        // padding-left: 0;
        // padding-right: 0;
        // margin: 0 2em;
        // margin: 0 auto;
        margin-bottom: 2em;
    }
   

    .btnprocess{
        width: 40%;
        
    }
}